@font-face {
  font-family: Liter;
  font-style: normal;
  font-weight: 400;
  src: url(../assets/liter/Liter-Regular.ttf);
}

:root {
  --accent-color: rgb(84, 249, 255);
  --icon-height: 30px;
  --bg-color: rgb(23, 41, 65);

  font-family: Liter, sans-serif;
}

body {
  background-color: var(--bg-color);
  margin: 0;
  color: white;
}

h1 {
  margin: 0;
}

.card {
  background-color: rgb(226, 226, 226);
  border-radius: 10px;
  padding: 1em;
  margin: 1em 0;
}

form {
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  border-radius: 0.5em;
  margin: 0;
  padding: 1em;
}

button:focus {
  outline: none;
}

.notification {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  border-radius: 0.5em;
  text-align: center;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - 20px); /* subtract margins */ 
  padding: 20px;
  margin: 10px;
  box-sizing: border-box;
}

.fail {
  background-color: rgb(238, 191, 191);
  border: 1px solid rgb(141, 65, 65);
}

.success {
  background-color: rgb(191, 238, 191);
  border: 1px solid rgb(65, 141, 65);
}

.correct {
  background-color: rgb(191, 238, 191);
}

.incorrect {
  background-color: rgb(238, 191, 191);
}

label {
  margin: 0 0 0.2em;
}

select {
  padding: 1em;
}

#stats {
  float: right;
  display: flex;
}

statistic-box {
  padding: 0 0.5em;
  height: var(--icon-height);
  line-height: var(--icon-height);
  display: flex;
  align-items: center;
}

.icon {
  height: var(--icon-height);
}

#cards {
  display: flex;
}